<p id="notice"><%= notice %></p>

<p>
  <strong>Turistic post:</strong>
  <%= @turistic_spot_post.turistic_post_id %>
</p>

<%= link_to 'Edit', edit_turistic_spot_post_path(@turistic_spot_post) %> |
<%= link_to 'Back', turistic_spot_posts_path %>
