
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-arrow-right"></span><%= question.title %> 
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        
            <% question.responces.each do |responce| %>
              <li class="list-group-item">
                <div class="radio">
                    <label>
                        <%= radio_button_tag("responce_id", responce.id) %>
                          <%= responce.option %>
                      </label>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
  </div>
    