<div class="border-show-div">
  <%= form_for([@survey, @question]) do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title, class: 'form-control' %><br />
    
    <%= f.submit %>
  <% end %>
</div>
