<div class="item">
  <div class="well">
    <div class="card card-block">
      <h4 class="card-title"><%= survey.title %></h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="card-block">
        <p class="lead"><%= link_to "take survey", survey_path(survey), class: "btn btn-info btn-block" %></p>
      </div>
    </div>
  </div>
</div>
