    <div class="regular-page-wrap section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="page-content">
                        <h6>You're banned from TripPlanner because you may have violated our terms of service.</h6>
                        <h6>If you wish to post on TripPlanner again, please contact one of our admins.</h6>
                
                    </div>
                </div>
            </div>
        </div>
    </div>